.buttonControl {
  border-radius: 20px;
  background-color: #803093;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 50px;
  margin-right: 20px;
  box-shadow: 0px 2px 4px 0px grey;
  letter-spacing: 1px;
  width: 160px;
  margin-top: 76px;

  &.reset {
    background-color: white;
    color: black;
  }
}
