.formGroupControl {
  margin-bottom: 28px;

  label {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 9px;

    .labelText {
      display: inline-block;
    }
  }

  &.before {
    margin-bottom: 2px;

    label {
      margin-top: 10px;

      .labelText {
        margin-bottom: 10px;
      }
    }
  }

  &.after {
    margin-bottom: 20px;

    label {
      .labelText {
        margin-bottom: 10px;
      }
    }
  }
}
